.nav {
    margin-bottom: 10px
}

.row {
    margin-bottom: 40px
}

.myAlert {
    margin-bottom: 0px
}

.btn {
    margin-right: 10px;
    margin-top: -6px;
    margin-left: 10px;
}

.myTable td {
    max-width: 150px
}

.list th,td {
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track {
    width: 60%
}

.op {
    width: 50px
}
