.nav {
    margin-bottom: 10px
}

.row {
    margin-bottom: 40px
}

.myAlert {
    margin-bottom: 0px
}

.btn {
    margin-right: 10px
}

.myTable td {
    max-width: 150px
}

.list td {
    max-width: 100px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
