extends ../layout

block content
    .container
        .row.col-xs-12
            h4 输入资源地址
            .form-group
                .col-xs-7
                    //- http://www.iqiyi.com/v_19rrocjt3c.html
                    //- http://www.iqiyi.com/v_19rrkqco7o.html
                    input.form-control.resource(type="text" placeholder="http://www.iqiyi.com/v_19rrkkhmv8.html" value="http://www.iqiyi.com/v_19rrkkhmv8.html")
                .col-xs-5
                    .btn.btn-primary.add-track 添加
        .row.col-xs-10.myAlert
            .alert.alert-warning.alert-dismissible.hide(role="alert")
                button.close
                    span(aria-hidden="true") &times;
                span
                    
    script(src="/js/index.js")

