extends ../layout

block content
    .container
        .row.col-xs-10
            h4 输入资源地址
            .form-group
                .col-xs-7
                    input.form-control.resource(type="text" placeholder="http://www.iqiyi.com/v_19rrkkhmv8.html" value="http://www.iqiyi.com/v_19rrkkhmv8.html")
                .col-xs-5
                    button.btn.btn-primary.search(type="button") 搜索
                    button.btn.btn-primary.track(type="button") 跟踪
                    a.btn.btn-primary.add(href="/admin/movie") 增加
        .row.col-xs-9
            table.table.table-hover.table-border.myTable
                thead
                    tr 
                        th 资源名称
                        th 播放数量
                        th 播放时长
                        th 点赞数
                        th 点踩数
                        th 评论数
                        th 分享数
                        th 得分
                tbody
                    
    script(src="/js/admin.js")

